@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
       @{List<Person> allMembers = (List<Person>)this.ViewData["bFamily"];
        foreach(Person p in allMembers){
            <p>@p.FirstName @p.LastName</p>
        }
        }
</div>
