<form method="Post">
    enter id <input type="number" name="id">
    enter date<input type="text" name="date">
    enter description<input type="text" name="description">
    enter duration <input type="number" name="duration">
    enter status <input type="text" name="status">
    <button>submit</button>
</form>