@{
    ViewData["Title"] = "Home Page";
}
<li class="nav-item"></li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Animation">Flowers</a></li>
<div class="text-center">
    <h1 class="display-4">ha welcome to my place</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
