@{
    ViewData["Title"] = "Insert Details";
}

<form method="post">
    Enter id <input type="number" name="id" placeholder="Enter Id">
    Enter Name: <input type="text" name="name" placeholder="Enter Name">
    Enter email: <input type="text" name="email" placeholder="Enter Email">
    <button>submit</button>
</form>