@using BOL;
@using PracticeApp.Controllers;
@using System.Collections;
@{
    ViewData["Title"] = "catlog Page";
}
@{
    List<Student> list = (List<Student>)this.ViewData["allStudents"];
        foreach(Student s in list){
            <P>@s.id @s.name @s.email</P>
        }
}